/* font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif; */


body {
    background: #1A1A1A;
    font-family: 'Roboto Mono', monospace;
}

header {
    position: fixed;
    top: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 120px;
    margin-top: 30px;
    margin-left: -100px; /* Negative half of width. */
}
.book-count {
    color: white;
    position: fixed;
    top: 5px;
    left: 5px;
}
.title-box {
    padding-left: 12px;
}

.title {
    font-size: 43px;
    color: #FAFAFA;
}

.book-logo {
    width: 65px;
    height: 100px;
    background: #691F28;
}

.book-logo>.white-rect {
    background: #FAFAFA;
    margin: 0 auto;
    width: 50px;
    height: 20px;
    margin-top: 14px;
}

main>.book-list {
    position: relative;
    overflow-y: auto; 
    height: 520px; 
    width: 440px;  
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 30px;
}
main>.book-list::-webkit-scrollbar {
    display: none;
}

main>.book-list>.book {
    display: flex;
    width: 440px;
    height: 110px;
    background-color: #FAFAFA;
    margin-bottom: 20px; 
}

.book>.book-detatils {
    display: flex;
}
.book-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 280px;
    height: 50px;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 15px;
}

.book-author {
    text-align: center;
    width: 280px;
    height: 20px;
    padding-left: 15px;
    transform: translatey(120%);
    opacity: 60%;
    margin-right: 15px;
    font-size: 12px;
}

.button-read {
    width: 120px;
    height: 45px;
    background-color: #691F28;
    transform: translatey(60%);
    font-family: 'Roboto Condensed', sans-serif;
    color: #FAFAFA;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    cursor: pointer;
}

.unfinished {
    background-color: #434343;
}

.font-lower {
    font-size: 14px;
}

.pages {
    text-align: center;
    color: black;
    font-size: 12px;
    transform: translatey(32px);
}

.scroll-status {
    color: #FAFAFA;
    text-align: center;
    color: yellow;
}

.no-book {
    text-align: center;
    vertical-align: middle;
    line-height: 520px;
    color: white;
}

.book-delete {
    height: 18px;
    width: 18px;
    opacity: 50%;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.book-delete:hover {
    opacity: 100%;
}
.add-form {
    color: black;
    width: 400px;
    height: 550px;
    background-color: #fafafa;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
  
.close {
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 15px;
}

.form-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
}

.button-add {
    margin: 0 auto;
    width: 350px;
}